<div ng-cloak ng-controller="LayoutController">
	<div class="popcornHeader">
		<div class="col-md-1 offset10 nearTopDepth">
			<span 
				class="clickable"
				id="logo"
			>
				<img 
					src="/images/logo_purple.png" 
					class="pull-left" 
					alt="Rebecca's Gourmet Popcorn" 
				/>
			</span>
		</div>
	</div>
	<div class="popcornBackground">
		<div ng-view>
		</div>
		<div class="popcornFooter">
			<span class="footerLink clickable" ng-click="showPopcorn()">Home</span>
			<span class="footerLink clickable" ng-show="activeCart" ng-click="showCart()">Shopping Cart</span>
			<span class="footerLink clickable" ng-show="showLogout && !showLogin" ng-click="showAccount()">My Account</span>
			<span class="footerLink clickable" ng-show="showLogin && !showLogout" ng-click="logIn()">Log In</span> 
			<span class="footerLink clickable" ng-show="showLogout && !showLogin" ng-click="logOut()">Log Out</span> 
			<span class="footerLink clickable" ng-show="showLogin && !showLogout" ng-click="signUp()">Sign Up</span>
			<span class="footerLink clickable" ng-click="showStory()">Our Story</span>
			<span class="footerLink clickable" ng-click="showFeedback()">Feedback</span>
			<span class="footerLink clickable" ng-click="showCareers()">Careers</span>
			<span class="footerLink clickable" ng-click="showPrivacy()">Privacy Policy</span>
			<span class="footerLink clickable" ng-click="showContact()">Contact Us</span>
		</div>
	</div>
</div>

<!-- Hack for ensuring event-based services are instantiated -->
<div ng-controller="LoadServices" style="display:none;" aria-hidden="true"></div>

