				<div 
					ng-show="bigScreen"
				>
					<br/>
					<div id="accountShow" style="display: none;">
						<ng-include src="'/templates/accountShowTmpl.html'"></ng-include>
					</div>
					<div id="careerShow" style="display: none;">
						<ng-include src="'/templates/careerShowTmpl.html'"></ng-include>
					</div>
					<div id="cartShow" style="display: none;">
						<ng-include src="'/templates/cartShowTmpl.html'"></ng-include>
					</div>
					<div id="contactShow" style="display: none;">
						<ng-include src="'/templates/contactShowTmpl.html'"></ng-include>
					</div>
					<div id="privacyShow" style="display: none;">
						<ng-include src="'/templates/privacyShowTmpl.html'"></ng-include>
					</div>
					<div id="popcornShow">
						<ng-include src="'/templates/popcornShowTmpl.html'"></ng-include>
					</div>
					<div id="orderShow" style="display: none;">
						<ng-include src="'/templates/orderShowTmpl.html'"></ng-include>
					</div>
					<div id="storyShow" style="display: none;">
						<ng-include src="'/templates/storyShowTmpl.html'"></ng-include>
					</div>
				</div>
