				<div 
					class="softBackSmall offsetNeg100"
					ng-show="!bigScreen"
				>
					<br/>
					<div id="accountShowSmall" style="display: none;">
						<ng-include src="'/templates/accountShowTmpl.html'"></ng-include>
					</div>
					<div id="careerShowSmall" style="display: none;">
						<ng-include src="'/templates/careerShowTmpl.html'"></ng-include>
					</div>
					<div id="cartShowSmall" style="display: none;">
						<ng-include src="'/templates/cartShowTmpl.html'"></ng-include>
					</div>
					<div id="contactShowSmall" style="display: none;">
						<ng-include src="'/templates/contactShowTmpl.html'"></ng-include>
					</div>
					<div id="privacyShowSmall" style="display: none;">
						<ng-include src="'/templates/privacyShowTmpl.html'"></ng-include>
					</div>
					<div id="popcornShowSmall" style="display: none;">
						<ng-include src="'/templates/popcornShowSmallTmpl.html'"></ng-include>
					</div>
					<div id="orderShowSmall" style="display: none;">
						<ng-include src="'/templates/orderShowTmpl.html'"></ng-include>
					</div>
					<div id="storyShowSmall" style="display: none;">
						<ng-include src="'/templates/storyShowTmpl.html'"></ng-include>
					</div>
				</div>
