<div 
	id="orderDetailsContainer" 
	style="padding-bottom: 80px"
	ng-show="bigScreen"
>
	<div class="col-md-12 page-header" ng-cloak>
		<div class="row">
			<div class="col-md-2" style="text-align: left;">
				<span class="orderDetailsDestinationInfo" style="font-size: 16px; font-weight: bold;">{{fName}} {{lName}}<br/></span>
				<span class="orderDetailsDestinationInfo">{{phone}}<br/></span>
				<span class="orderDetailsDestinationInfo">{{address}}</span>
			</div>
			<div class="col-md-3" style="text-align: left;">
				<span class="orderDetailsDestinationInfo">Order Date: {{orderDate}}<br/></span>
				<span class="orderDetailsDestinationInfo" ng-show="paymentMethod != 'cash'">Credit Card: {{total}}</span>
				<span class="orderDetailsDestinationInfo" ng-show="paymentMethod == 'cash'">Cash: {{total}}</span>
				<br/>
				<span ng-show="orderStatus > 4 && orderStatus < 6">Payment Accepted at {{paymentAcceptedAtFormatted}}</span>
				<span ng-show="orderStatus > 5 && orderStatus < 7">Order Placed at {{placedAtFormatted}}</span>
				<span ng-show="orderStatus > 6 && orderStatus < 8">Order Collected at {{collectedAtFormatted}}</span>
				<span ng-show="orderStatus > 8">Order Delivered at {{deliveredAtFormatted}}</span>
			</div>
			<div class="col-md-3" style="text-align: left;">
				<span class="orderDetailsDestinationInfo" style="font-size: 16px; font-weight: bold;">Order Status<br/></span>
				<span class="orderDetailsDestinationInfo">{{orderStatusFormatted}}</span>
			</div>
			<div class="col-md-2" style="text-align: left;">
				<span class="orderDetailsDestinationInfo">Subtotal<br/></span>
				<span class="orderDetailsDestinationInfo">Tax<br/></span>
				<span class="orderDetailsDestinationInfo">Shipping<br/></span>
				<span class="orderDetailsDestinationInfo" ng-show="discount > 0">Discount<br/></span>
				<span class="orderDetailsDestinationInfo">Total</span>
			</div>
			<div class="col-md-2" style="text-align: right;">
				<span class="orderDetailsDestinationInfo">{{subtotal | currency}}<br/></span>
				<span class="orderDetailsDestinationInfo">{{tax | currency}}<br/></span>
				<span class="orderDetailsDestinationInfo">{{shipping | currency}}<br/></span>
				<span class="orderDetailsDestinationInfo" ng-show="discount > 0" style="color: red;">-{{discount | currency}}<br/></span>
				<span class="orderDetailsDestinationInfo">{{total}}</span>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6">
				<div class="row" ng-repeat="thing in things">
					<div class="col-md-11 col-md-offset-1" style="text-align: left;">
						<span class="orderDetailsItemInfo"><b>{{thing.quantity}}</b> {{thing.option}} {{thing.name}}<br/></span>
					</div>
					<br/>
				</div>
				<br/>
				<div class="row" ng-repeat="bev in bevThings">
					<div class="col-md-11 col-md-offset-1" style="text-align: left;">
						<span class="orderDetailsItemInfo"><b>{{bev.quantity}}</b> {{bev.option}} {{bev.name}}<br/></span>
					</div>
					<br/>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<iframe width="600" height="450" frameborder="0" style="border:0" src="{{src}}"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div 
	id="orderDetailsContainer" 
	style="padding-bottom: 80px"
	ng-show="!bigScreen"
>
	<div class="col-sm-12 col-xs-12 page-header" ng-cloak>
		<div class="row">
			<div 
				class="col-sm-12 col-xs-12" 
				style="text-align: left;"
			>
				<span class="orderDetailsDestinationInfo" style="font-size: 16px; font-weight: bold;">{{fName}} {{lName}}<br/></span>
				<span class="orderDetailsDestinationInfo">{{phone}}<br/></span>
				<span class="orderDetailsDestinationInfo">{{address}}</span>
			</div>
		</div>
		<br/>
		<div class="row">
			<div 
				class="col-sm-6 col-xs-6" 
				style="text-align: left;"
			>
				<span class="orderDetailsDestinationInfo" style="font-size: 16px; font-weight: bold;">Order Status</span>
				<br/>
				<span class="orderDetailsDestinationInfo">Order Date</span>
				<br/>
				<span class="orderDetailsDestinationInfo" ng-show="paymentMethod != 'cash'">Credit Card</span>
				<span class="orderDetailsDestinationInfo" ng-show="paymentMethod == 'cash'">Cash</span>
			</div>
			<div 
				class="col-sm-6 col-xs-6" 
				style="text-align: right;"
			>
				<span class="orderDetailsDestinationInfo">{{orderStatusFormatted}}</span>
				<span class="orderDetailsDestinationInfo" ng-show="orderStatus > 4 && orderStatus < 6">Payment Accepted at {{paymentAcceptedAtFormatted}}</span>
				<span class="orderDetailsDestinationInfo" ng-show="orderStatus > 5 && orderStatus < 7">Order Placed at {{placedAtFormatted}}</span>
				<span class="orderDetailsDestinationInfo" ng-show="orderStatus > 6 && orderStatus < 8">Order Collected at {{collectedAtFormatted}}</span>
				<span class="orderDetailsDestinationInfo" ng-show="orderStatus > 8">Order Delivered at {{deliveredAtFormatted}}</span>
				<br/>
				<span class="orderDetailsDestinationInfo">{{orderDate}}</span>
				<br/>
				<span class="orderDetailsDestinationInfo" ng-show="paymentMethod != 'cash'">{{total}}</span>
				<span class="orderDetailsDestinationInfo" ng-show="paymentMethod == 'cash'">{{total}}</span>
			</div>
		</div>
		<br/>
		<div class="row">
			<div 
				class="col-sm-8 col-xs-8" 
				style="text-align: left;"
			>
				<span class="orderDetailsDestinationInfo">Subtotal<br/></span>
				<span class="orderDetailsDestinationInfo">Tax<br/></span>
				<span class="orderDetailsDestinationInfo">Shipping<br/></span>
				<span class="orderDetailsDestinationInfo" ng-show="discount > 0">Discount<br/></span>
				<span class="orderDetailsDestinationInfo">Total</span>
			</div>
			<div 
				class="col-sm-4 col-xs-4" 
				style="text-align: right;"
			>
				<span class="orderDetailsDestinationInfo">{{subtotal | currency}}<br/></span>
				<span class="orderDetailsDestinationInfo">{{tax | currency}}<br/></span>
				<span class="orderDetailsDestinationInfo">{{shipping | currency}}<br/></span>
				<span class="orderDetailsDestinationInfo" ng-show="discount > 0" style="color: red;">-{{discount | currency}}<br/></span>
				<span class="orderDetailsDestinationInfo">{{total}}</span>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-sm-6 col-xs-6">
				<div 
					class="row" 
					ng-repeat="thing in things"
				>
					<div 
						class="col-sm-11 col-xs-11 col-sm-offset-1 col-xs-offset-1" 
						style="text-align: left;"
					>
						<span class="orderDetailsItemInfo"><b>{{thing.quantity}}</b> {{thing.option}} {{thing.name}}<br/></span>
					</div>
					<br/>
				</div>
				<br/>
				<div class="row" ng-repeat="bev in bevThings">
					<div 
						class="col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1" 
						style="text-align: left;"
					>
						<span class="orderDetailsItemInfo"><b>{{bev.quantity}}</b> {{bev.option}} {{bev.name}}<br/></span>
					</div>
					<br/>
				</div>
			</div>
			<!--
			<div class="col-sm-6 col-xs-6">
				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<iframe width="600" height="450" frameborder="0" style="border:0" src="{{src}}"></iframe>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
</div>
