<ul id="fms-modules-grid" ng-cloak ng-show="bigScreen">
	<div class="row" style="padding-bottom: 80px">
		<div class="col-md-12">
			<div class="row" id="aboutMain">
				<div class="col-md-6 col-md-offset-3">
					<div class="row" id="aboutStoryHead">
						<span class="aboutHead">
							Becca's Gourmet Popcorn
						</span>
					</div>
					<div class="row" id="aboutStoryBody" style="text-align: left!important">
						<span class="aboutBasic">
							Becca's Gourmet Popcorn was born of the love of its founder
							for delicious gourmet popcorn. As Becca discovered that she
							had quite a few robust flavors (and even more folks asking
							her to make some of her gourmet popcorn) she decided that
							she wanted to share these wonderful flavors with all!
						</span>
					</div>
				</div>
			</div>
    </div>
  </div>
</ul>

<ul id="fms-modules-grid" ng-cloak ng-show="!bigScreen">
	<div class="row" style="padding-bottom: 80px">
		<div class="col-sm-12 col-xs-12">
			<div class="row" id="aboutMain">
				<div>
					<div class="row" id="aboutStoryHead">
						<span class="aboutHead">
							Becca's Gourmet Popcorn
						</span>
					</div>
					<div class="row">
						<div class="col-sm-11 col-xs-11 col-sm-offset-1 col-xs-offset-1"
							style="text-align: left!important"
						>
							<span class="aboutBasic">
								Becca's Gourmet Popcorn was born of the love of its founder
								for delicious gourmet popcorn. As Becca discovered that she
								had quite a few robust flavors (and even more folks asking
								her to make some of her gourmet popcorn) she decided that
								she wanted to share these wonderful flavors with all!
							</span>
						</div>
					</div>
				</div>
			</div>
    </div>
  </div>
</ul>
